.main-container{
  background-color: rgb(181, 200, 236);
  display: flex;
}
.player-container{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
border-right: 2px solid grey;
}
.selected-container{
  width: 30%;
  margin-left: 10px;
}
